@model FurryFeast.Models.Member

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MemberId" />
            <div class="form-group">
                <label asp-for="MemberName" class="control-label"></label>
                <input asp-for="MemberName" class="form-control" />
                <span asp-validation-for="MemberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberBirthday" class="control-label"></label>
                <input asp-for="MemberBirthday" class="form-control" />
                <span asp-validation-for="MemberBirthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberAdress" class="control-label"></label>
                <input asp-for="MemberAdress" class="form-control" />
                <span asp-validation-for="MemberAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberEmail" class="control-label"></label>
                <input asp-for="MemberEmail" class="form-control" />
                <span asp-validation-for="MemberEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberPhone" class="control-label"></label>
                <input asp-for="MemberPhone" class="form-control" />
                <span asp-validation-for="MemberPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberGender" class="control-label"></label>
                <input asp-for="MemberGender" class="form-control" />
                <span asp-validation-for="MemberGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberAccount" class="control-label"></label>
                <input asp-for="MemberAccount" class="form-control" />
                <span asp-validation-for="MemberAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberPassord" class="control-label"></label>
                <input asp-for="MemberPassord" class="form-control" />
                <span asp-validation-for="MemberPassord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConponId" class="control-label"></label>
                <select asp-for="ConponId" class="form-control" asp-items="ViewBag.ConponId"></select>
                <span asp-validation-for="ConponId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
