@model IEnumerable<FurryFeast.Models.Member>

@{
    ViewData["Title"] = "Index";
}

@section Style{
    <style>

    </style>
}
<h3>會員資訊</h3>
<hr />

<div>
    <div>
        <label>姓名</label>
        <input type="text"/>
    </div>
    <div>
        <label>生日</label>
        <input type="date"/>
    </div>
    <div>
        <label>性別</label>
        <input type="text"/>
    </div>
    <div>
        <label>手機號碼</label>
        <input type="text" maxlength="10"/>
    </div>
    <div>
        <label>Email</label>
        <input type="email">
    </div>
    <div>
        <label>地址</label>
        <input type="text"/>
    </div>
    <div>
        <form asp-controller="Members" asp-action="UpdateMemberData">
            <button class="button button-lg button-primary button-zakaria">修改資料及密碼</button>
        </form>
    </div> 
</div>


    
