
@{
    ViewData["Title"] = "Login";
}

<h1>會員登入</h1>

    <div>
        帳號: <input type="email" name="loginaccount" id="" required>
    </div>
    <div>密碼: <input type="password" name="loginpassord" required></div>
        <div class="btn">
            <a href="./register.html">註冊</a>
            <a href="./login.html">登入</a>
            <a href="./forgetpassord.html">忘記密碼</a>
        </div>
        <div class="btn">
            <input type="button" value="Google登入" name="logingoogle">
        </div>


