
@{
    ViewData["Title"] = "Login";
}

<h3>會員登入</h3>

<div>
    <label>帳號</label>
    <input class="form-input form-control-has-validation" id="contact-first-name-2" type="email" name="name" data-constraints="Required">
</div>
<div>
    <label>密碼</label>
    <input class="form-input form-control-has-validation" id="contact-first-name-2" type="password" name="name" data-constraints="Required">
</div>
<div class="btn">
    <button class="button button-lg button-primary button-zakaria" type="submit" asp-action="Register" >註冊</button>
    <button class="button button-lg button-primary button-zakaria" type="submit"asp-action="Index" >登入</button>
   
</div>
<hr />
<div class="btn">
    <button class="button button-lg button-primary button-zakaria" type="submit">忘記密碼</button>
    <button class="button button-lg button-primary button-zakaria" type="submit">GOOGLE登入</button>
</div>


