@model FurryFeast.Models.PetClass

@{
    ViewData["Title"] = "MyClass";
}

<h1>我的課程</h1>

<div class="container-fluid">
    <div class="row">
         <div class="title col-4" >
                <a asp-action="Index">個人資料</a>
            </div>
            <div>
                <a asp-action="MyOrder">我的訂單</a>
            </div>
            <div>
                <a asp-action="MyClass">我的課程</a>
            </div>
            <div>
                <a asp-action="Myconpon">我的優惠券</a>
          </div>
          <div class="content col-8">
                <span>
                    課程代碼
                </span>
                <span>
                    課程名稱
                </span>
                <span>
                    課程價格
                </span>
                <span>
                    課程日期
                </span>
                <span>
                    課程資訊
                </span>
          </div>
    </div>

</div>
           
