@model FurryFeast.Models.PetClass

@{
    ViewData["Title"] = "MyClass";
}

<h1>我的課程</h1>

            <div>
                <a asp-action="Index">個人資料</a>
            </div>
            <div>
                <a asp-action="MyOrder">我的訂單</a>
            </div>
            <div>
                <a asp-action="MyClass">我的課程</a>
            </div>
            <div>
                <a asp-action="Myconpon">我的優惠券</a>
            </div>
