@model IEnumerable<FurryFeast.Models.Conpon>

@{
    ViewData["Title"] = "MyConpon";
}

<h3 class="wow fadeScale">我的優惠券</h3>


<div class="container-fluid">
    <div class="row">
        <div class="option col-3">
            <div>
                <a asp-action="Index">個人資料</a>
            </div>
            <div>
                <a asp-controller="Members" asp-action="MyOrder">我的訂單</a>
            </div>
            <div>
                <a asp-action="MyClass">我的課程</a>
            </div>
            <div>
                <a asp-action="MyConpon">我的優惠券</a>
            </div>

        </div>
        <div class="content col-9 text-center">
            <table>
                <tr>
                    <th>優惠券編號</th>
                    <th>優惠券名稱</th>
                    <th>優惠券折扣</th>
                    <th>起始時間</th>
                    <th>到期時間</th>
                </tr>
            </table>
        </div>
    </div>
</div>

