
@{
    ViewData["Title"] = "Register";
}

<h1>註冊會員</h1>
<div >
    <div>
        <label for="">帳號: </label>
        <input type="email" name="registeraccount" id="" required>
    </div>
    <div>
        <label for="">密碼:</label>
        <input type="password" name="registerpassord" id="" required>
    </div>
    <div>
        <label for="">姓名: </label>
        <input type="text" name="registername" required>
    </div>
    <div>
        <label for="">性別:</label>
        <input type="radio" name="gender" id="">
        <label for="">男</label>
        <input type="radio" name="gender" id="">
        <label for="">女</label>
    </div>
    <div>
        <label for="">生日:</label>
        <input type="date" name="registerbirth" id="" required>
    </div>
    <div>
        <label for="">手機號碼: </label>
        <input type="text" maxlength="10" name="registerphone" required>
    </div>
    <div class="btn">
        <input type="button" value="送出" name="btngo">
    </div>
</div>


