
@{
    ViewData["Title"] = "Register";
}

<h3>註冊會員</h3>

<div >
    <div>

        <label for="">帳號: </label>
        <input class="form-input form-control-has-validation" id="contact-first-name-2" type="email" name="name" data-constraints="Required">
    </div>
    <div>
        <label for="">密碼:</label>
        <input class="form-input form-control-has-validation" id="contact-first-name-2" type="password" name="name" data-constraints="Required">
    </div>
    <div>
        <label for="">姓名: </label>
        <input class="form-input form-control-has-validation" id="contact-first-name-2" type="text" name="name" data-constraints="Required">
    </div>
    <div>
        <label for="">性別:</label>
        <input type="radio" name="gender" id="">
        <label for="">男</label>
        <input type="radio" name="gender" id="">
        <label for="">女</label>
    </div>
    <div>
        <label for="">生日:</label>
        <input class="form-input form-control-has-validation" id="contact-first-name-2" type="date" name="name" data-constraints="Required">
    </div>
    <div>
        <label for="">手機號碼: </label>
        <input class="form-input form-control-has-validation" id="contact-first-name-2" type="text" name="name" data-constraints="Required" maxlength="10">
    </div>
    <div class="btn">
        <form>
            <button class="button button-lg button-primary button-zakaria" type="submit">註冊</button>
        </form>
    </div>
</div>


