
@{
    ViewData["Title"] = "PetFriendlyMap";
}

<div class="index-header">
	<h2>寵物友善地圖</h2>
</div>
<div class="container pb-4 mb-4 border-bottom">
	<div id="form" class="row">
		<div class="col">
			<select id="ChooseCity" class="form-select">
				<option selected>選擇縣市</option>
			</select>
		</div>
		<div class="col">
			<select id="ChooseCounty" class="form-select">
				<option selected>選擇鄉鎮/區</option>
			</select>
		</div>
		<div class="col">
			<select class="form-select">
				<option selected>選擇地點類別</option>
			</select>
		</div>
		<div class="col">
			<button id="search" type="button">搜尋</button>
		</div>
	</div>
</div>
<div class="container">
	<div class="row" style="height: 500px;">
		<div id="map" class="col-8 border border-2 p-3" style= "max-width:100%;"></div>
		<div class="col-4 border border-2 p-3">
			<h2>1234</h2>
		</div>
	</div>
</div>


@section Scripts
{
	<script src="~/js/map.js"></script>
	<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwGI7BGNrDL_AtaZNvS9jHWweUj1IJsT0&callback=initMap&libraries=maps,marker&v=beta"></script>
}
