
@{
    ViewData["Title"] = "PetFriendlyMap";
}
@section Style
{
	<link href="~/css/map/mapstyle.css" rel="stylesheet" />

}

<div class="index-header">
	<h2>寵物友善地圖</h2>
</div>
<div class="container mx-2">
	<div id="form" class="row">
		<div class="col-3">
			<select id="ChooseCity">
				<option value="hide">-- 選擇縣市 --</option>
			</select>
		</div>
		<div class="col-3">
			<select id="ChooseCounty">
				<option value="hide">-- 選擇鄉鎮 --</option>
			</select>
		</div>
		<div class="col-3">
			<button id="search" class="button" type="button">搜尋</button>
		</div>
	</div>
</div>
<div class="container my-4">

	<div class="row" style="height: 600px;">
		<div id="map" class="col-7 m-0 p-3" style="max-width:100%; border-radius: 1rem;"></div>
		<div class="col-5">
			<div class="card-new" style="height: 600px;">
				<div>
					<h5>愛寵物，就像愛自己一樣，</h5><h5 class="mb-4 pb-4 border-bottom">我們周邊需要更多的寵物友善環境。</h5>
					
					<div id="PlaceName" class="mt-2" style="background: black; border-radius: 1rem;"></div>
					<div id="InfoBox" class="col"></div>
					<div id="InfoBoxBody" class="p-3 lh-lg">
@*						<button type="button" style="border: 0; border-radius: 1rem; color: black; background: black; padding: 5px 20px 5px 20px; font-size: 12px">Tel</button>
						<button type="button" style="border: 0; border-radius: 1rem; color: black; background: black; padding: 5px 20px 5px 20px; font-size: 12px">Address</button>*@
					</div>
					<button type="button" id="btn_StreetView" class="button button-icon button-icon-left button-primary-outline visually-hidden">觀看街景地圖</button>
				</div>
			</div>
		</div>
	</div>
</div>


@section Scripts
{
	<script src="~/js/map.js"></script>
	<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwGI7BGNrDL_AtaZNvS9jHWweUj1IJsT0&callback=initMap&libraries=maps,marker&v=beta"></script>
}
