
@{
    ViewData["Title"] = "ForgetPassord";
}

<div class="index-header">
    <h2>忘記密碼</h2>
</div>

<div>
    <label>帳號</label>
    <input class="form-input form-control-has-validation" id="contact-first-name-2" type="email" name="name" placeholder="請輸入Email帳號" data-constraints="Required">
</div>
<div>
    <button class="button button-lg button-primary button-zakaria" type="submit" asp-action="Index">寄發驗證信</button>
</div>

