@section Style{
	<link href="~/css/petclass/bootstrap.min.css" rel="stylesheet" />
	@*<link href="~/css/petclass/fonts.min.css" rel="stylesheet" />*@
	<link href="~/css/petclass/style.css" rel="stylesheet" />
	<style>
		.bg {
			width: 100%;
			height: 100vh;
			background-image: url('/image/product/bg-404.jpg');
			background-size: cover;
			background-position: center;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.Info {
			background-color: white;
			width: 40%;
			height: 200px;
			border-radius: 6px;
		}
	</style>
}
<div class="bg">
	<div class="Info">


			<div style="font-size:25px;">
				<i class="bi bi-check2-circle"></i>
				<p>註冊成功!</p>
				<p>請至信箱收取驗證信以開通會員!</p>
			</div>
	
		<a class="button button-sm button-primary button-zakaria" asp-controller="Products" asp-action="IndexNewOne">回寵物商城</a>
	</div>
</div>