@model IEnumerable<FurryFeast.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h1>個人資料</h1>

        <div class="content">
            <div>
                <label for="">姓名:</label>
                <input type="" />
            </div>
            <div>

                <label for="">性別:</label>
            </div>
            <div>
                <label for="">生日:</label>
            </div>
            <div>
                <label for="">手機號碼:</label>
            </div>
        </div>
    

