@{
	ViewData["Title"] = "Login";
	if (ViewBag.Error != "")
	{
		<h1>@ViewBag.Error</h1>
	}
}



@section Style{
	<link href="~/css/login.css" rel="stylesheet" />
}
<div class="index-header">
	<h2>會員登入</h2>
</div>

<form action="/Member/Login" method="post">
	<div id="app" class="Login">

		<div>
			<label>帳號</label>
			<input class="form-input form-control" placeholder="請輸入帳號" id="input" type="email" name="MemberAccount">
		</div>
		<div>
			<label>密碼</label>
			<input class="form-input form-control" placeholder="請輸入密碼" id="pwd" type="password" name="MemberPassord">
		</div>
		<a asp-action="RegisterIndex" type="button" class="button button-lg button-primary button-zakaria">註冊</a>
		<a v-on:click="loginSuccess">button</a>
		<button class="button button-lg button-primary button-zakaria" v-on:click="loginSuccess" type="submit">登入</button>
		</div>
</form>
		<div>
	<a href="/Member/GoogleLogin" class="button button-lg button-primary button-zakaria" type="submit">使用GOOGLE帳號登入</a>
	<a href="/Member/Facebook" class="button button-lg button-primary button-zakaria" type="submit">使用Facebook帳號登入</a>
		</div>
		<div>
	<form asp-action="ForgetPassword">
		<button class="button button-lg button-primary button-zakaria text-center" type="submit">忘記密碼</button>
	</form>
		</div>
	@section Scripts{
			
	<script src="https://accounts.google.com/gsi/client" async defer></script>
	<script>
		//<div id="g_id_onload"
		//data - client_id="79978444537-fi3cacemf1hcntghrl6hpe0tod5ua4p6.apps.googleusercontent.com"
		//data - login_uri="https://localhost:7110/Member/Login"
		//data - auto_prompt="false" >
		//</div>
		//< div class="g_id_signin"
		//data - type="standard"
		//data - size="large"
		//data - theme="outline"
		//data - text="sign_in_with"
		//data - shape="rectangular"
		//data - logo_alignment="left" >
		//</div>
		let app = new Vue({
			el: '#app',
			data: {
				returnUrl: "", 
				typeID:"",
				recipeID:""
			},
			mounted() { 
				const params = new URLSearchParams(window.location.search);
  
				// 獲取 returnUrl、typeID 和 recipeID 參數的值
				returnUrl = params.get('returnUrl');
				typeID = params.get('typeID');
				recipeID = params.get('recipeID');
				// 在控制台上輸出 returnUrl 的值
				console.log(returnUrl);
				console.log(typeID);
				console.log(recipeID); 
			},
			methods : { 
				loginSuccess: function() {
					this.returnUrl = encodeURIComponent(returnUrl) + '&typeID=' + encodeURIComponent(typeID) + '&recipeID=' + encodeURIComponent(recipeID);;
					window.location.href = '/Recipes/Recipes?returnUrl=' + this.returnUrl;

				}
			}
		})

	</script>
	}




