@{
	ViewData["Title"] = "Login";
	if (ViewBag.Error != "")
	{
		<h1>@ViewBag.Error</h1>
	}
}



@section Style{
	<link href="~/css/login.css" rel="stylesheet" />
	<style>
		.form-input {
			/*width: 80%;*/
		}

		.container {
			width: 90%;
		}

		.button-size {
			margin-top: 20px;
		}

		.fb-style {
			margin-top: 0px;
		}


		.Login {
			padding: 20px 50px 20px 50px;
		}

		.forget {
			background-color: darkgrey;
			border-color: darkgrey;
		}

		.LoginImage {
			border-radius: 6px;
		}

		.imgText {
			position: relative;
			text-align: center;
		}

			.imgText h2 {
				content: "FurryFeast";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: -240px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 48px;
				font-weight: bold;
				color: white;
				border-radius: 50%;
			}

		.label {
			color: #ffd33b;
			text-align: left;
		}

	</style>
}
<div class="index-header">
	<h2>會員登入</h2>
</div>
<div class="container">
	<div class="row">
		<div class="col-5">
			<div class="imgText">
				<img class="LoginImage" src="~/image/product/footer-gallery.jpg" />
				<h2>FurryFeast</h2>
			</div>
		</div>
		<div style="width:20px;"></div>
		<div class="col-6">
			<form asp-action="Login" asp-controller="Member" method="post" asp-route-typeID="@Context.Request.Query["typeID"]" asp-route-recipeID="@Context.Request.Query["recipeID"]">
				<div class="Login">
					<div class="form-container">
						<h6 class="label">帳號</h6>
						<input class="form-input form-control" placeholder="請輸入帳號" id="input" type="email" name="MemberAccount" required>
					</div>
					<div class="form-container">
						<h6 class="label">密碼</h6>
						<input class="form-input form-control" placeholder="請輸入密碼" id="pwd" type="password" name="MemberPassord" required>
					</div>
					<div>
						<button class="button button-primary button-primary button-zakaria button-size" type="submit">登入</button>
						<a asp-action="RegisterIndex" type="button" class="button button-primary button-primary button-zakaria button-size register">註冊</a>
						@*<form asp-action="ForgetPassword">*@
						@*<button class="button button-lg button-primary button-zakaria text-center button-size" type="submit">忘記密碼</button>*@
						<a asp-action="ForgetPassword" class="button button-primary button-primary button-zakaria button-size forget" type="submit">忘記密碼</a>
						@*</form>*@
					</div>

				</div>
			</form>
			<div>
				<a href="/Member/GoogleLogin" class="button button-google button-icon button-icon-left button-round" type="submit">GOOGLE登入</a>
				<a href="/Member/Facebook" class="button button-facebook button-icon button-icon-left button-round fb-style" type="submit">Facebook登入</a>
			</div>
			<div>
			</div>
		</div>

	</div>
</div>


@section Scripts{

	<script src="https://accounts.google.com/gsi/client" async defer></script>
	<script>
		//<div id="g_id_onload"
		//data - client_id="79978444537-fi3cacemf1hcntghrl6hpe0tod5ua4p6.apps.googleusercontent.com"
		//data - login_uri="https://localhost:7110/Member/Login"
		//data - auto_prompt="false" >
		//</div>
		//< div class="g_id_signin"
		//data - type="standard"
		//data - size="large"
		//data - theme="outline"
		//data - text="sign_in_with"
		//data - shape="rectangular"
		//data - logo_alignment="left" >
		//</div>
	</script>
	}




