<h3>會員管理</h3>

<form action="/Member/MemberAfter" method="get">
	<table>
		<tr>
			<th>會員編號</th>
			<th>姓名</th>
			<th>性別</th>
			<th>生日</th>
			<th>手機號碼</th>
			<th>Email</th>
			<th>地址</th>
		</tr>
		<tr>
			<td></td>
		</tr>
	</table>

</form>