@model FurryFeast.Models.PetClass

@{
    ViewData["Title"] = "MyClass";
}
@section Style{
    <link href="~/css/button.css" rel="stylesheet" />
}
<div class="index-header">
    <h2 >我的課程</h2>
</div>

<hr />

<div id="app">
    <table>
        <tr>
            <th>課程預定編號</th>
            <th>課程名稱</th>
            <th></th>
            <th>課程日期</th>
            <th>課程狀態</th>
        </tr>
        <tr v-for="(item,index) in myClass" :key="index">
            <td>{{item.classReservetionId}}</td>
            <td>{{item.petClassName}}</td>
            <td></td>
            <td>{{item.classReservetionDate}}</td>
            <td>{{item.classReservetionState}}</td>
        </tr>
   </table>
        
</div>

@section Scripts{
    <script>
        let app = new Vue({
            el:"#app",
            data:{
                myClass:"",
            },
            mounted:function(){
                alert('d')
                let self = this;
                axios(`/api/myclass/getclass`).then(res => {
                    console.log(res.data);
                    this.myClass = res.data
                })
            }

        })
    </script>

}
           
