@model IEnumerable<FurryFeast.Models.Order>

@{
	ViewData["Title"] = "MyOrder";
}

@section Style{
	
	<link href="~/css/animation.css" rel="stylesheet" />
	<style>
		.title {
			background-color: #ffe607;
			color: black;
		}

		.th { line-height: 1.5; }

		th { color:black; }

		.table-striped > tbody > tr:nth-of-type(odd) {
			--bs-table-accent-bg: #ffd33b6b;
			color: var(--bs-table-striped-color);
		}

		.table > :not(caption) > * > * { border: none; }

		.table { margin: 0px }

		.productTxet {
			border-bottom: 1px dashed #ccc;
			line-height: 4;
		}

		tbody :last-child {
			border: none;
		}

		
		element.style {
			padding: 5px 10px;
		}
		tbody :last-child {
			border: none;
		}

		element.style {
			padding: 5px 10px;
		}
		tbody :last-child {
			border: none;
		}
		.button-zakaria.active {
			background: black;
			color: white;
			border: 2px solid #ffe607;
		}

/*		.hover :hover {
			background: red;
		}*/

	</style>

}

<div class="index-header">
	<h2>我的訂單</h2>
</div>
<hr/>

<div id="app" >
	<div class="shadow-sm my-5 p-2 pb-0 row mx-auto hover" style="border: 1px solid #ccc; border-radius: 6px;" v-for="(order,index) in orders" :key="index">
		<table class="col-8 mx-auto table table-striped myorder " style="margin: 0;">
			<tr class="title th">
				<th class="mx-3">訂單編號</th>
				<th>訂單日期</th>
				<th>訂單出貨日期</th>
				<th>訂單金額</th>
				<th colspan="2">明細</th>
				
			</tr>
			<tr style="vertical-align: baseline;">
				<td>
					{{order.orderId}}
				</td>
				<td>
					{{order.orderCreateDate}}
				</td>
				<td>
					{{order.orderShipDate}}
				</td>
				<td>
					{{order.orderTotalPrice}}
				</td>
				<td colsapn="2">
					
					<a :href="url+order.orderId" class="button button-lg button-primary button-zakaria" v-on:click="getOrder(order.orderId)">訂單明細</a>

				</td>
			</tr>
		</table>
	
	</div>
</div>


@section Scripts{
	@*<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />*@
	<script>
		let app = new Vue({
			el: "#app",
			data: {
				orders: [],
				orderdetals: [],
				url: "/Member/OrderDetail/",

			},
			methods: {
				getOrder: function (orderId) {
					let self = this;
					axios.get(`/api/orders/GetData/${orderId}`).then(res => self.orders = res.data)

				},
				format: function (date) {
					return moment(date).format("YYYY-MM-DD HH:mm:ss");
				},
			},
			mounted: function () {
				let self = this;
				axios('/api/myorder/getmyorder').then(res => {
					console.log(res);
					self.orders = res.data
				})
			}
		})
	</script>
}
