@model IEnumerable<FurryFeast.Models.Order>

@{
	ViewData["Title"] = "MyOrder";
}

@section Style{
	<style>
		.title {
			background-color: #ffe607;
			color:aliceblue;
		}

		th{
			color:white;
		}

		.table-striped > tbody > tr:nth-of-type(odd) {
			--bs-table-accent-bg: #ffd33b6b;
			color: var(--bs-table-striped-color);
		}

	</style>

}
<div class="index-header">
	<h2>我的訂單</h2>
</div>
<hr />

<div id="app">
	<table class="table table-striped myorder">
		<tr class="title">
			<th>訂單編號</th>
			<th>訂單成立日期</th>
			<th>訂單出貨日期</th>
			<th>訂單金額</th>
			<th>訂單明細</th>
		</tr>
		<tr v-for="order in orders">
			<td>
				{{order.orderId}}
			</td>
			<td>
				{{order.orderCreateDate}}
			</td>
			<td>
				{{order.orderShipDate}}
			</td>
@*			<td>
				{{order.orderPrice}}
			</td>*@
			<td>
				{{order.orderTotalPrice}}
			</td>
			<td>
				@*{{State}}*@
				<a :href="url+order.orderId" class="button button-lg button-primary button-zakaria" v-on:click="getOrder(order.orderId)">訂單明細</a>
			</td>
		</tr>
	</table>
</div>




@section Scripts{
    <script>

		let app = new Vue({
			el: "#app",
			data: {
				orders: [],
				state: "",
				orderdetails: [],
				url: "/Member/OrderDetail/"
			},
			methods: {
				getOrder: function (orderId) {
					let self = this;
					axios.get(`/api/orders/GetData/${orderId}`).then(response => {

						console.log(response.data);

					});



				}

			},

			mounted: function () {
				let self = this;
				axios('/api/myorder/getmyorder').then(res => {
					console.log(res);
					self.orders = res.data
				
				});

			},
			computed: {
				//State:function(){
				//    if (self.orders.orderStatus == 0) {
				//        self.state = "未付款";
				//    }
				//}
			}
			//document.getElementById("status").textContent = ({{ order.orderStatus }} == 0) ?"未付款" : "已付款"
		});
	</script>
}


