@model int

@{
    ViewData["Title"] = "MyOrder";
}
@section Style{
    <style>
        .title {
            background-color: #ffe607;
            color: aliceblue;
        }

        th {
            color: black;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            --bs-table-accent-bg: #ffd33b6b;
            color: var(--bs-table-striped-color);
        }

        .ml-2 {
            margin-right:70px;
        }


    </style>
}

<div class="index-header">
    <h2>訂單明細</h2>
</div>
<hr />

<div id="app" class="text-center">
    <table class="table table-striped mx-auto">
        <tr class="title">
          
            <th></th>
            <th></th>
            <th>商品名稱</th>
            <th>商品價格</th>
            <th>商品數量</th>
            <th>商品總額</th>
            <th></th>
        </tr>
       
            <tr v-for="(order,index) in orderdetails.orderDetail" :key="index">
            <td></td>
            <td></td>
            
            <td>
                {{order.productName}}
            </td>
            <td>
                {{order.productPrice}}元
            </td>
            <td>
                {{order.orderQuantity}}
            </td>
            <td> {{order.productPrice*order.orderQuantity}}元</td>
            <td></td>
            <tr>
            <td :colspan="4"></td>
            
           <td></td>

            <td >
                <div class="ml-2 ms-2">總金額:&nbsp;&nbsp;&nbsp;&nbsp;{{ getTotalPrice }}元</div>
            </td>
               
           





            </tr>
 

        </tr>

    </table>

   
    <td>
        <form asp-controller="Member" asp-action="MyOrder">
            <button class="button button-lg button-primary button-zakaria">回到上一頁</button>
        </form>
    </td>
</div>



@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script>
        let app = new Vue({
            el: "#app",
            data: {
                orderdetails: [],
            },
            methods: {
 

            },
            mounted: function () {
                
                let self = this;
                axios('/api/orderdetails/GetOrderDetails?id='+@Model).then(res => {
                    console.log(res.data);
                    this.orderdetails = res.data
                });
            },
            computed:{
                getTotalPrice:function(){
                    return this.orderdetails.orderDetail.reduce((total, order) => {
                        return total + order.productPrice * order.orderQuantity;
                    }, 0);
                },
            }

        })
    </script>
}





