
@{
    ViewData["Title"] = "Register";
}

<div class="index-header">
    <h2>註冊會員</h2>
</div>

<div >
    <form action="/Member/RegisterIndex" method="post" name="register">
    <div>
        <label for="">帳號: </label>
            <input class="form-input form-control-has-validation" id="contact-first-name-2" type="email" placeholder="請輸入Email帳號" name="MemberAccount" data-constraints="Required">
    </div>
    <div>
        <label for="">密碼:</label>
            <input class="form-input form-control-has-validation" id="contact-first-name-2" type="password" name="MemberPassord" data-constraints="Required">
    </div>
    <div>
        <label for="">姓名: </label>
        <input class="form-input form-control-has-validation" id="contact-first-name-2" type="text" name="MemberName" data-constraints="Required">
    </div>
    <div>
        <label for="">性別:</label>
        <input type="radio" name="gender" id="">
        <label for="">男</label>
        <input type="radio" name="gender" id="">
        <label for="">女</label>
    </div>
    <div>
        <label for="">生日:</label>
            <input class="form-input form-control-has-validation" id="contact-first-name-2" type="date" name="MemberBirthday" data-constraints="Required">
    </div>
    <div>
        <label for="">手機號碼: </label>
            <input class="form-input form-control-has-validation" id="contact-first-name-2" type="text" name="MemberPhone" data-constraints="Required" maxlength="10">
    </div>
    <div class="btn">  
            <button class="button button-lg button-primary button-zakaria" type="submit">註冊</button> 
    </div>
    </form>
</div>



