@{
	ViewData["Title"] = "UpdateMemberData";
}
@section Style{
	<link href="~/css/button.css" rel="stylesheet" />
}
<div class="index-header">
	<h2>修改會員資料</h2>
</div>
<div id="app">
	<div v-for="item in getMemberData">
		<div>
			<label>姓名</label>
			<input type="text" v-model="item.updatemember.memberName" />

		</div>
		<div>
			<label>性別</label>
			<input type="radio" name="UpdateGender" :value="1" v-model="item.updatemember.memberGender" />
			<label>男</label>
			<input type="radio" name="UpdateGender" :value="0" v-model="item.updatemember.memberGender" />
			<label>女</label>
		</div>
		<div>
			<label>生日</label>
			<input type="datetime" name=" UpdateBirth" v-model="item.updatemember.memberBirthday" />
		</div>
		<div>
			<label>手機號碼</label>
			<input type="text" name="MemberPhone" maxlength="10" v-model="item.updatemember.memberPhone" />
		</div>
		<div>
			<label>Email</label>
			<input type="email" name="UpdateEmail" v-model="item.updatemember.memberEmail" />
		</div>
		<div>
			<label>住址</label>
			<input type="text" name="MemberAdress" v-model="item.updatemember.memberAdress" />
		</div>
		<div>
			<button class="button button-lg button-primary button-zakaria" type="submit" v-on:click="Edit(item)">修改資料</button>
		</div>
		<hr />
		<br />
		<div>
			<label>輸入原密碼</label>
			<input type="password" />
		</div>
		<div>
			<label>輸入新密碼</label>
			<input type="password" />
		</div>
	</div>
	<div>
		<button class="button button-lg button-primary button-zakaria" type="submit">更新密碼</button>
	</div>
</div>
<div>
	<form asp-action="Index">
		<button class="button button-lg button-primary button-zakaria">回到上一頁</button>
	</form>
</div>



@section Scripts{

	<script>
		var app = new Vue({
			el: "#app",
			data: {
				getMemberData: "",
				EditMember:{
					memberName:"",
					memberPhone:"",
					memberAdress:"",
					memberGender:0,
					memberEmail:"",
					memberBirthday:"" ,
				},
				//EditPassword:{
				//	memberPassord:""
				//}

			},
			mounted: function () {
				let self = this;
				axios('/api/member/one').then(res => { self.getMemberData = res.data });
			},
			methods: {
				Edit:function(){
					let self=this;
					axios.post('/api/member/edit',self.EditMember).then(res=>{
						self.EditMember.memberName="",
						self.EditMember.memberPhone= "",
						self.EditMember.memberAdress= "",
						self.EditMember.memberGender= 0,
						self.EditMember.memberEmail="",
						self.EditMember.memberBirthday ="";
					})
				},
				EditComfirm:function(item){
					this.EditMember.memberName	  = item.Updatemember.memberName
					this.EditMember.memberPhone   = item.Updatemember.memberPhone
					this.EditMember.memberAdress  = item.Updatemember.memberAdress
					this.EditMember.memberGender  = item.Updatemember.memberGender
					this.EditMember.memberEmail   = item.Updatemember.memberEmail
					this.EditMember.memberBirthday =item.Updatemember.memberBirthday

				}
				//EditPassword:function(){
				//	let self = this;
				//	axios.post('/api/member/editpassword',self.EditPassword).then(res=>{
						
				//		if(res.memberPassord == self.getMemberData.memberPassord){
				//			self.getMemberData.memberPassord = res.memberPassord
				//		}
				//	})
				//}

			}
		})
	</script>


}