
@{
    ViewData["Title"] = "UpdateMemberData";
}
@section Style{
	<link href="~/css/button.css" rel="stylesheet" />
}
<div class="index-header">
    <h2>修改會員資料</h2>
</div>

<div>
    <label>姓名</label>
    <input name="UpdateName" value="" />
</div>
<div>
    <label>性別</label>
    <input type="radio" name="UpdateGender"  />
    <label>男</label>
    <input type="radio" name="UpdateGender"  />
    <label>女</label>
</div>
<div>
    <label>生日</label>
    <input type="date" name="UpdateBirth"  />
</div>
<div>
    <label>手機號碼</label>
    <input type="tel" name="UpdatePhone" maxlength="10"  />
</div>
<div>
    <label>Email</label>
    <input type="email" name="UpdateEmail" />
</div>
<div>
    <label>住址</label>
    <input type="text" name="UpdateAdress" />
</div>
<div>
    <button class="button button-lg button-primary button-zakaria" type="submit">修改資料</button>
</div>
<hr />
<br />
<div>
    <label>輸入原密碼</label>
    <input type="password" />
</div>
<div>
    <label>輸入新密碼</label>
    <input type="password" />
</div>
<div>
    <button class="button button-lg button-primary button-zakaria" type="submit">更新密碼</button>
</div>
<div>
    <form asp-action="Index">
        <button class="button button-lg button-primary button-zakaria">回到上一頁</button>
    </form>
</div>