<!DOCTYPE html>
<html>
<head>
    <script>
        function init() {
      
        }

        function submitHandler() {
 
            alert("傳送成功");
        }
    </script>
</head>
<body onload="init()">
    <form enctype="text/plain" accept-charset="utf-8">
        <input id="nameText" type="text" name="Name" value size="60" placeholder="姓名(name)" required>
        <input id="emailText" type="email" name="Email" value size="60" placeholder="Email" required>
        <input id="telText" type="tel" name="Phone" value size="60" aria-invalid="false" placeholder="電話(phone)" required>
        <input id="subText" type="text" name="Subject" value size="60" aria-invalid="false" placeholder="主旨(subject)" required>
        <textarea id="bodyText" name="your-message" cols="40" rows="10" aria-required="true" aria-invalid="false" placeholder="你的訊息(Your Message)" required></textarea>
        <div>
            <input type="button" value="送出訊息" onclick="submitHandler();">
            <a id="mailTo"></a>
        </div>
    </form>
</body>
</html>
