<!DOCTYPE html>
<html>
<head>
    <title>捐赠食品</title>
    <style>
        .progress-bar {
            width: 300px;
            height: 20px;
            background-color: #f2f2f2;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        .progress {
            height: 100%;
            background-color: #4caf50;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <h1>捐贈飼料</h1>

    <h2>狗狗飼料</h2>
    <div class="progress-bar">
        <div class="progress" style="width: 50%;"></div>
    </div>
    <p>已捐贈金額：25000元</p>
    <p>目標金額：50000元</p>
    <p>捐贈人數：XX人</p>
    <button onclick="donate('cat')">我要捐赠</button>

    <script>
        function donate(category) {
            var baseUrl = window.location.origin; // 取得當前頁面的基本URL
            var controller = 'Products'; // asp-controller的值
            var action = 'Index'; // asp-action的值

            // 建立完整的URL
            var url = baseUrl + '/' + controller + '/' + action;

            // 進行重定向到指定的URL
            window.location.href = url;
        }
    </script>








    <h2>貓貓飼料</h2>
    <div class="progress-bar">
        <div class="progress" style="width: 75%;"></div>
    </div>
    <p>已捐贈金額：37500元</p>
    <p>捐贈人數：XX人</p>
    <button onclick="donate('cat')">我要捐赠</button>

    <script>
        function donate(category) {
            var baseUrl = window.location.origin; // 取得當前頁面的基本URL
            var controller = 'Products'; // asp-controller的值
            var action = 'Index'; // asp-action的值

            // 建立完整的URL
            var url = baseUrl + '/' + controller + '/' + action;

            // 進行重定向到指定的URL
            window.location.href = url;
        }
    </script>










</body>
</html>
