<!DOCTYPE html>

<head>
    <link rel="icon" href="images/favicon.ico" type="~/image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900%7CLato%7CKalam:300,400,700">
    <link href="~/css/petclass/style.css" rel="stylesheet" />
    <link href="~/css/petclass/fonts.min.css" rel="stylesheet" />
    <link href="~/css/petclass/bootstrap.min.css" rel="stylesheet" />
	<style>
		.card-group-custom .card {
			border-color: transparent;
		}
	</style>
</head>
<body>

    <div class="index-header">
        <h2>FAQ</h2>
    </div>
    <!-- Tabs and Accordion-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
     
                <div class="card-group-custom card-group-corporate" id="accordion1" role="tablist" aria-multiselectable="false">
                    <!-- Bootstrap 卡片 -->
                    <article class="card card-custom card-corporate">
                        <div class="card-header" role="tab">
                            <div class="card-title">
                                <a id="accordion1-card-head-vbwxjdra" data-bs-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-crirqsce" aria-controls="accordion1-card-body-crirqsce" aria-expanded="true" role="button">
                                    我該如何更改訂單中的內容？
                                    <div class="card-arrow">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="collapse show" id="accordion1-card-body-crirqsce" aria-labelledby="accordion1-card-head-vbwxjdra" data-parent="#accordion1" role="tabpanel">
                            <div class="card-body">
                                <p>如果您需要更改訂單中的內容，請立即與我們聯繫。我們通常在30分鐘內處理訂單，一旦訂單被處理，我們將無法進行任何更改。</p>
                            </div>
                        </div>
                    </article>
                    <!-- Bootstrap 卡片 -->
                    <article class="card card-custom card-corporate">
                        <div class="card-header" role="tab">
                            <div class="card-title">
                                <a class="collapsed" id="accordion1-card-head-ftgjxgvc" data-bs-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-psjdgbee" aria-controls="accordion1-card-body-psjdgbee" aria-expanded="false" role="button">
                                    我該如何支付訂單？
                                    <div class="card-arrow">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="accordion1-card-body-psjdgbee" aria-labelledby="accordion1-card-head-ftgjxgvc" data-parent="#accordion1" role="tabpanel">
                            <div class="card-body">
                                <p>我們接受Visa、MasterCard和American Express信用卡和借記卡，以方便您的支付。</p>
                            </div>
                        </div>
                    </article>
                    <!-- Bootstrap 卡片 -->
                    <article class="card card-custom card-corporate">
                        <div class="card-header" role="tab">
                            <div class="card-title">
                                <a class="collapsed" id="accordion1-card-head-ftgjxgvc" data-bs-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-psjdgbee" aria-controls="accordion1-card-body-psjdgbee" aria-expanded="false" role="button">
                                    我該如何支付訂單？
                                    <div class="card-arrow">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="accordion1-card-body-psjdgbee" aria-labelledby="accordion1-card-head-ftgjxgvc" data-parent="#accordion1" role="tabpanel">
                            <div class="card-body">
                                <p>我們接受Visa、MasterCard和American Express信用卡和借記卡，以方便您的支付。</p>
                            </div>
                        </div>
                    </article>
                    <!-- Bootstrap 卡片 -->
                    <article class="card card-custom card-corporate">
                        <div class="card-header" role="tab">
                            <div class="card-title">
                                <a class="collapsed" id="accordion1-card-head-ftgjxgvc" data-bs-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-psjdgbee" aria-controls="accordion1-card-body-psjdgbee" aria-expanded="false" role="button">
                                    貓狗糧食中的主要營養成分有哪些？
                                    <div class="card-arrow">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="accordion1-card-body-psjdgbee" aria-labelledby="accordion1-card-head-ftgjxgvc" data-parent="#accordion1" role="tabpanel">
                            <div class="card-body">
                                <p>貓狗糧食的主要營養成分包括蛋白質、脂肪、碳水化合物、維生素和礦物質。蛋白質是寵物健康的關鍵，脂肪提供能量，碳水化合物提供額外的能量來源，而維生素和礦物質則對於支持寵物的整體健康和免疫系統功能至關重要。</p>
                            </div>
                        </div>
                    </article>
                                        <!-- Bootstrap 卡片 -->
                    <article class="card card-custom card-corporate">
                        <div class="card-header" role="tab">
                            <div class="card-title">
                                <a class="collapsed" id="accordion1-card-head-ftgjxgvc" data-bs-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-psjdgbee" aria-controls="accordion1-card-body-psjdgbee" aria-expanded="false" role="button">
                                    收容所如何協助流浪貓狗找到新家？
                                    <div class="card-arrow">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="accordion1-card-body-psjdgbee" aria-labelledby="accordion1-card-head-ftgjxgvc" data-parent="#accordion1" role="tabpanel">
                            <div class="card-body">
                                <p>收容所協助流浪貓狗找到新家的方式包括提供臨時庇護、進行健康檢查和疫苗接種、提供食物和水、與潛在領養者進行配對和領養手續，並宣傳領養訊息以增加流浪寵物被領養的機會。</p>
                            </div>
                        </div>
                    </article>
                    <!-- Bootstrap 卡片 -->
                    <article class="card card-custom card-corporate">
                        <div class="card-header" role="tab">
                            <div class="card-title">
                                <a class="collapsed" id="accordion1-card-head-ftgjxgvc" data-bs-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-psjdgbee" aria-controls="accordion1-card-body-psjdgbee" aria-expanded="false" role="button">
                                    如何預防寵物走失？
                                    <div class="card-arrow">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="accordion1-card-body-psjdgbee" aria-labelledby="accordion1-card-head-ftgjxgvc" data-parent="#accordion1" role="tabpanel">
                            <div class="card-body">
                                <p>預防寵物走失的方法包括定期給寵物佩戴項圈和識別牌，將寵物訓練好，提供安全的環境和圍欄，避免讓寵物單獨外出，使用微芯片進行寵物識別，以及在公共場所保持牽繫。</p>
                            </div>
                        </div>
                    </article>
                    <!-- Bootstrap 卡片 -->
                    <article class="card card-custom card-corporate">
                        <div class="card-header" role="tab">
                            <div class="card-title">
                                <a class="collapsed" id="accordion1-card-head-ftgjxgvc" data-bs-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-psjdgbee" aria-controls="accordion1-card-body-psjdgbee" aria-expanded="false" role="button">
                                    如果我的寵物走失了，應該怎麼做？
                                    <div class="card-arrow">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="accordion1-card-body-psjdgbee" aria-labelledby="accordion1-card-head-ftgjxgvc" data-parent="#accordion1" role="tabpanel">
                            <div class="card-body">
                                <p>如果寵物走失了，你可以採取以下行動：立即在周圍地區搜索，製作走失海報並在社區張貼，聯繫當地收容所、動物醫院和動物保護組織，使用社交媒體發布走失訊息，向鄰居和社區成員詢問，並報案給當地警察局。</p>
                            </div>
                        </div>
                    </article>
                    <!-- Bootstrap 卡片 -->
                    <article class="card card-custom card-corporate">
                        <div class="card-header" role="tab">
                            <div class="card-title">
                                <a class="collapsed" id="accordion1-card-head-ftgjxgvc" data-bs-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-psjdgbee" aria-controls="accordion1-card-body-psjdgbee" aria-expanded="false" role="button">
                                    收容所如何處理走失寵物的情況？
                                    <div class="card-arrow">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="accordion1-card-body-psjdgbee" aria-labelledby="accordion1-card-head-ftgjxgvc" data-parent="#accordion1" role="tabpanel">
                            <div class="card-body">
                                <p>收容所通常會收容走失寵物，並儘快採取措施尋找它們的主人。</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
  

                    @section Scripts {
                        <script src="~/js/product/core.min.js"></script>
                        <script src="~/js/product/script.js"></script>
                    }
</body>
</html>
