@section Style{
    <link href="~/css/petclass/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/css/petclass/fonts.min.css" rel="stylesheet" />*@
    <link href="~/css/petclass/style.css" rel="stylesheet" />
}
  <!-- Tabs and Accordion-->
<section class="section section-xl bg-default text-md-left">
    <div class="container">
        <div class="row row-30 justify-content-center justify-content-xl-between">
            <div class="col-md-6">
                <h3>Accordions</h3>
                <!-- Bootstrap collapse-->
                <div class="card-group-custom card-group-corporate" id="accordion1" role="tablist" aria-multiselectable="false">
                    <!-- Bootstrap card-->
                    <article class="card card-custom card-corporate">
                        <div class="card-header" role="tab">
                            <div class="card-title">
                                <a id="accordion1-card-head-vbwxjdra" data-bs-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-crirqsce" aria-controls="accordion1-card-body-crirqsce" aria-expanded="true" role="button">
                                    How can I change something in my order?
                                    <div class="card-arrow">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="collapse show" id="accordion1-card-body-crirqsce" aria-labelledby="accordion1-card-head-vbwxjdra" data-parent="#accordion1" role="tabpanel">
                            <div class="card-body">
                                <p>If you need to change something in your order, please contact us immediately. We usually process orders within 30 minutes, and once we have processed your order, we will be unable to make any changes.</p>
                            </div>
                        </div>
                    </article>
                    <!-- Bootstrap card-->
                    <article class="card card-custom card-corporate">
                        <div class="card-header" role="tab">
                            <div class="card-title">
                                <a class="collapsed" id="accordion1-card-head-ftgjxgvc" data-bs-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-psjdgbee" aria-controls="accordion1-card-body-psjdgbee" aria-expanded="false" role="button">
                                    How can I pay for my order?
                                    <div class="card-arrow">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="accordion1-card-body-psjdgbee" aria-labelledby="accordion1-card-head-ftgjxgvc" data-parent="#accordion1" role="tabpanel">
                            <div class="card-body">
                                <p>We accept Visa, MasterCard, and American Express credit and debit cards for your convenience.</p>
                            </div>
                        </div>
                    </article>
                    <!-- Bootstrap card-->
                    <article class="card card-custom card-corporate">
                        <div class="card-header" role="tab">
                            <div class="card-title">
                                <a class="collapsed" id="accordion1-card-head-jvbkjgya" data-bs-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-pkornmfb" aria-controls="accordion1-card-body-pkornmfb" aria-expanded="false" role="button">
                                    How long will my order take to be delivered?
                                    <div class="card-arrow">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="accordion1-card-body-pkornmfb" aria-labelledby="accordion1-card-head-jvbkjgya" data-parent="#accordion1" role="tabpanel">
                            <div class="card-body">
                                <p>Delivery times will depend on your location. Once payment is confirmed your order will be packaged. Delivery can be expected within a day.</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-6 col-xl-5">
