@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    var regions = new List<SelectListItem>
    {
        new SelectListItem { Text = "北部", Value = "北" },
        new SelectListItem { Text = "中部", Value = "中" },
        new SelectListItem { Text = "南部", Value = "南" }
    };
}

@Html.DropDownList("Region", regions)
@{
    var petCategories = new List<SelectListItem>
    {
        new SelectListItem { Text = "狗", Value = "狗" },
        new SelectListItem { Text = "貓", Value = "貓" },
        new SelectListItem { Text = "全部", Value = "全部" }
    };
}

@Html.DropDownList("PetCategory", petCategories)
<a href="https://forms.gle/3mp5yYQso9VVyN6M7" class="btn btn-primary">我要通報</a>

<div class="container" data-aos="fade-up">
    <div class="index-header">
        <h2>尋找浪浪</h2>
    </div>
    <div class="row row-cols-3">
        <!-- card -->
        <div class="col-lg-4 col-md-6 col-12 move-on-hover test">
            <a href="http://">
                <div class="card-new" style="background: white; box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.05);">
                    <div class="square-img-container ">
                        <img src="image/cat/1682728095475.png" alt="">
                    </div>
                    <div class="card-body-new">
                        <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12 move-on-hover test">
            <a href="http://">
                <div class="card-new" style="background: white; box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.05);">
                    <div class="square-img-container ">
                        <img src="image/cat/1682728095475.png" alt="">
                    </div>
                    <div class="card-body-new">
                        <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12 move-on-hover test">
            <a href="http://">
                <div class="card-new" style="background: white; box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.05);">
                    <div class="square-img-container ">
                        <img src="image/cat/1682728095475.png" alt="">
                    </div>
                    <div class="card-body-new">
                        <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12 move-on-hover test">
            <a href="http://">
                <div class="card-new" style="background: white; box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.05);">
                    <div class="square-img-container ">
                        <img src="image/cat/1682728095475.png" alt="">
                    </div>
                    <div class="card-body-new">
                        <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12 move-on-hover test">
            <a href="http://">
                <div class="card-new" style="background: white; box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.05);">
                    <div class="square-img-container ">
                        <img src="image/cat/1682728095475.png" alt="">
                    </div>
                    <div class="card-body-new">
                        <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12 move-on-hover test">
            <a href="http://">
                <div class="card-new" style="background: white; box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.05);">
                    <div class="square-img-container ">
                        <img src="image/cat/1682728095475.png" alt="">
                    </div>
                    <div class="card-body-new">
                        <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12 move-on-hover test">
            <a href="http://">
                <div class="card-new" style="background: white; box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.05);">
                    <div class="square-img-container ">
                        <img src="image/cat/1682728095475.png" alt="">
                    </div>
                    <div class="card-body-new">
                        <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12 move-on-hover test">
            <a href="http://">
                <div class="card-new" style="background: white; box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.05);">
                    <div class="square-img-container ">
                        <img src="image/cat/1682728095475.png" alt="">
                    </div>
                    <div class="card-body-new">
                        <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12 move-on-hover test">
            <a href="http://">
                <div class="card-new" style="background: white; box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.05);">
                    <div class="square-img-container ">
                        <img src="image/cat/1682728095475.png" alt="">
                    </div>
                    <div class="card-body-new">
                        <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>