<style>
    .card-new {
        transition: transform 0.3s;
    }
    .card-new:hover {
        transform: scale(1.05);
    }
    #search:hover {
        background-color: #000000 !important;
        color: #ffffff !important;
    }
    #select-shelter {
        width: 250px !important;
    }
    #search {
        border-radius: 6px;
    }
</style>

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900%7CLato%7CKalam:300,400,700">
<link href="~/css/petclass/fonts.min.css" rel="stylesheet" />

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<div id="app">
    <div class="index-header">
        <h2>遺失寵物協尋</h2>
    </div>

    <div style="text-align: center">
        <div class="group-sm group-middle">
            <div class="product-top-panel-sorting">
                <select  id="select-category" data-minimum-results-for-search="Infinity" class="form-select">
                    <option value="">--選擇全部種類--</option>
                    <option v-for="item in PetType" v-bind:value="item">{{item.PetType}}</option>
                </select>
            </div>
            <div class="product-top-panel-sorting">
                <select id="select-variety" data-minimum-results-for-search="Infinity" class="form-select">
                    <option value="">--選擇遺失地點--</option>
                    <option v-for="item in LostLocation" v-bind:value="item">{{item.LostLocation}}</option>
                </select>
            </div>
            <div class="product-top-panel-sorting">
                <select id="select-shelter" data-minimum-results-for-search="Infinity" class="form-select">
                    <option value="">--遺失時間--</option>
                    <option v-for="item in LostTime" v-bind:value="item.id">{{item.LostTime}}</option>
                </select>
            </div>
            <div class="product-top-panel-sorting">
                <select  id="select-gender" data-minimum-results-for-search="Infinity" class="form-select">
                    <option value="">--選擇全部性別--</option>
                    <option v-for="item in Gender" v-bind:value="item.id">{{item.Gender}}</option>
                </select>
            </div>
            <div class="product-top-panel-sorting">
                <select id="select-color" data-minimum-results-for-search="Infinity" class="form-select">
                    <option value="">毛色</option>
                </select>
            </div>
            <div class="product-top-panel-sorting">
                <select id="select-age" data-minimum-results-for-search="Infinity" class="form-select">
                    <option value="">--選擇品種--</option>
                    <option v-for="item in Breed" v-bind:value="item.id">{{item.Breed}}</option>
                </select>
            </div>

            <div>
                <input  type="submit" class="search-button btn btn-primary" id="search" value="重新搜尋" style="background-color: #ffd33b; color: #ffffff;">

                <input type="submit" class="search-button btn btn-primary" id="search" value="下12筆" style="background-color: #ffd33b; color: #ffffff;">
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div v-for="item in allData" class="col-lg-4 col-md-4 col-6 mb-4">
                <div class="card-new" style="background: white; box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.05)" data-bs-toggle="modal" v-bind:data-bs-target="'#qq' + item.animal_id">
                    <div class="square-img-container">
                        <img v-if="item.album_file == ''" src="~/image/no-pictures.png" alt="">
                        <img v-else="" v-bind:src="item.album_file" alt="">
                    </div>
                    <div class="card-body-new">
                        <p class="card-title">{{item.PetType}}</p>
                        <p class="card-text">{{item.LostLocation}}</p>
                        <p class="card-text" v-if="item.Gender == '母'">母</p>
                        <p class="card-text" v-if="item.Gender == '公'">公</p>

                        <p class="card-text">{{item.Color}}</p>
                    </div>
                </div>                
            </div>
        </div>
    </div>

    <!-- modal -->
   @* <div class="modal fade" v-bind:id="'qq' + item.animal_id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="qqq">{{item.LostLocation}}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img v-if="item.Picture == ''" src="~/image/no-pictures.png" alt="">
                    <img v-else="" v-bind:src="item.Picture" alt="">

                    <p class="card-title">{{item.PetType}}</p>
                    <p class="card-text" v-if="item.Gender == 'F'">母</p>
                    <p class="card-text" v-if="item.Gender == 'M'">公</p>
                    <p class="card-text">品種: {{Breed}}</p>
                    <p class="card-text">{{item.animal_colour}}</p>
                    <p class="card-text">飼主姓名: {{OwnerName}}</p>
                    <p class="card-text">遺失地點: {{LostLocation}}</p>
                    <p class="card-text">聯絡電話: {{item.ContactPhone}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>*@
</div>

<script>
    let app = new Vue({
        el: "#app",
        data: {
            sys:{
                count:20,
                top:20,
                skip:0
            },
            allData: [],
            PetType: [],
            LostLocation: [],
            LostTime: [],
            Gender: [],
            Breed: [],
            getPetType: "",
            getLostLocation: "",
            Gender: "",
        },
        mounted: function () {
            this.getAllData();
        },
        methods: {
            getAllData: function () {
                let url = `https://data.coa.gov.tw/Service/OpenData/TransService.aspx?UnitId=IFJomqVzyB0i`;
                let parm = `&$top=${this.sys.top}&$skip=${this.sys.skip}`
                axios.get(url+parm).then(response => {
                    this.allData = response.data;
                })
                .catch(error => {
                    console.error(error);
                });
            },
            nextPage: function () {
            },
            reSearch: function () {
            }
        }
    });
</script>
