@model List<FurryFeast.Models.Article>

@section Style{
    <link href="~/css/petclass/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/css/petclass/fonts.min.css" rel="stylesheet" />*@
    <link href="~/css/petclass/style.css" rel="stylesheet" />
}
<div class="index-header">
    <h2>最新消息</h2>
</div>

@foreach (var article in Model)
{
    <div class="col-12">
        <article class="post post-modern box-xxl">
            <div class="post-modern-panel">
                <div><a class="post-modern-tag" href="#">News</a></div>
                <div>
                    <time class="post-modern-time" datetime='@article.ArticleDate.ToString("yyyy-MM-dd")'>
                        @article.ArticleDate.ToString("MMMM d, yyyy")
                    </time>
                </div>
            </div>
            <h3 class="post-modern-title" style="font-size: 20px;"><a href="blog-post.html">@article.ArticleTitle</a></h3>
            <p class="post-modern-text">@article.ArticleText</p>
            <a class="post-modern-link" href="blog-post.html">Read more</a>
        </article>
    </div>
}

