@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>最新消息</title>
    <style>
        .container {
            text-align: center;
        }

        .news-list {
            list-style-type: none;
            padding: 0;
        }

        .news-list-item {
            margin-bottom: 10px;
        }

        .read-more {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>最新消息</h1>

        <ul class="news-list">
            <li class="news-list-item">
                <h3>標題1</h3>
                <p>最新消息內容1</p>
            </li>

            <li class="news-list-item">
                <h3>標題2</h3>
                <p>最新消息內容2</p>
            </li>

            <li class="news-list-item">
                <h3>標題3</h3>
                <p>最新消息內容3</p>
            </li>
        </ul>

    </div>
</body>
</html>
