

<!DOCTYPE html>
<html>
<head>
	<title>@ViewData["Title"]</title>

	<style>
		.card-new {
			transition: transform 0.3s;
		}

			.card-new:hover {
				transform: scale(1.05);
			}

		#search:hover {
			background-color: #000000 !important;
			color: #ffffff !important;
		}

		#select-shelter {
			width: 250px !important;
		}

		#search {
			border-radius: 6px;
		}
	</style>

	<link rel="icon" href="images/favicon.ico" type="~/image/x-icon">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900%7CLato%7CKalam:300,400,700">
	@*    <link href="~/css/petclass/style.css" rel="stylesheet" />*@
	<link href="~/css/petclass/fonts.min.css" rel="stylesheet" />
	@*    <link href="~/css/petclass/bootstrap.min.css" rel="stylesheet" />*@


</head>
<body>
	<div id="app">
		<div class="index-header">
			<h2>全台收容所資訊(先只篩選前12筆)</h2>
		</div>

		<div style="text-align: center;">
			<div class="group-sm group-middle">
				<div class="product-top-panel-sorting">
					<select v-model="getAnimalKind" id="select-category" data-minimum-results-for-search="Infinity">
						<option value="">--請選擇種類--</option>
						<option v-for="item in animalKindList" v-bind:value="item">{{item}}</option>
					</select>
				</div>
				<div class="product-top-panel-sorting">
					<select v-model="getAnimalArea" id="select-variety" data-minimum-results-for-search="Infinity">
						<option value="">--請選擇地區--</option>
						<option v-for="item in animalAreaList" v-bind:value="item">{{item}}</option>
					</select>
				</div>
				<div class="product-top-panel-sorting">
					<select v-model="getAnimalPlace" id="select-shelter" data-minimum-results-for-search="Infinity">
						<option value="">--請選擇收容所--</option>
						<option v-for="item in animalPlaceList" v-bind:value="item.id">{{item.name}}</option>
					</select>
				</div>



				<div class="product-top-panel-sorting">
					<select id="select-gender" data-minimum-results-for-search="Infinity">
						<option value="">性別</option>
						<option value="公">公</option>
						<option value="母">母</option>
						<option value="未知">未知</option>
					</select>
				</div>
				<div class="product-top-panel-sorting">
					<select id="select-color" data-minimum-results-for-search="Infinity">
						<option value="">毛色</option>
					</select>
				</div>
				<div class="product-top-panel-sorting">
					<select id="select-age" data-minimum-results-for-search="Infinity">
						<option value="">年齡</option>
						<option value="幼年">幼年</option>
						<option value="成年">成年</option>
					</select>
				</div>
				<input v-on:click="btnSearch" type="submit" class="search-button btn btn-primary" id="search" value="搜尋" style="background-color: #ffd33b; color: #ffffff;">

			</div>
		</div>

		<div class="container mt-3">
			<div class="row">
				<div v-for="item in allData" class="col-lg-4 col-md-4 col-6 mb-4">
					<div class="card-new" style="background: white; box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.05);">
						<div class="square-img-container">
							<img v-bind:src="item.album_file" alt="喔喔!~圖片壞掉惹">
						</div>
						<div class="card-body-new">
							<p class="card-title">{{item.animal_Variety}}</p>
							<p class="card-text">{{item.animal_colour}}</p>
							<p class="card-text">{{item.animal_place}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	@section Scripts {
		<script src="~/js/product/core.min.js"></script>
		<script src="~/js/product/script.js"></script>

		@*v-select*@
		<script src="https://cdn.jsdelivr.net/npm/vue-select@3.20.2/dist/vue-select.min.js"></script>

		<script>
			let app = new Vue({
				el: "#app",
				data: {
					url: "https://data.coa.gov.tw/Service/OpenData/TransService.aspx?UnitId=QcbUEzN6E6DL&$top=12&$skip=0",
					allData: [],
					getAnimalKind: "",
					animalKindList: ["貓", "狗", "其他"],
					getAnimalArea: "",
					animalAreaList: ["北部", "中部", "南部", "外島"],
					getAnimalPlace: "",
					animalPlaceList: [
						{
							"id": 48,
							"name": "基隆市寵物銀行"
						},
						{
							"id": 49,
							"name": "臺北市動物之家"
						},
						{
							"id": 50,
							"name": "新北市板橋區公立動物之家"
						},
						{
							"id": 51,
							"name": "新北市新店區公立動物之家"
						},
						{
							"id": 52,
							"name": "新北市中和區公立動物之家"
						},
						{
							"id": 55,
							"name": "新北市淡水區公立動物之家"
						},
					],
				},
				mounted: function () {
					let _this = this;
					_this.getAllData();
				},
				computed: {

				},
				methods: {
					getAllData: function () {
						let _this = this;
						axios.get(_this.url).then(response => {
							_this.allData = response.data
						});
					},
					btnSearch: function () {
						let _this = this;
						let newUrl = _this.url + "&animal_kind=" + _this.getAnimalKind;
						console.log(newUrl);
						_this.searchData(newUrl);
					},
					searchData: async function (newUrl) {
						_this = this;
						await axios.get(newUrl).then(response => {
							_this.allData = response.data
						});
					},
				},
			});
		</script>
	}

</body>
</html>
