@model IEnumerable<FurryFeast.Models.Recipe>

@{
	ViewData["Title"] = "Recipes";
}


<div class="index-header">
	<h2>寵物鮮食食譜</h2>
</div>
<div id="app" class="container">
	<div class="row m-4">
		<button class="col btn btn-primary p-5 " type="button" id="Btn_DogCal">Dog</button>
		<button class="col btn btn-primary p-5 ms-3" type="button" id="Btn_DogCat" v-on:click="">Cat</button>
	</div>
	<div class="row m-4">
		<div class="col-md-3 border border-2 rounded-4 pt-4">
			<ul class="nav justify-content-center">
				<li class="nav-item"><a href=""><h5>義式番茄糙米燉飯</h5></a></li>
				<li class="nav-item"><a href=""><h5>義式番茄糙米燉飯</h5></a></li>
				<li class="nav-item"><a href=""><h5>義式番茄糙米燉飯</h5></a></li>
				<li class="nav-item"><a href=""><h5>義式番茄糙米燉飯</h5></a></li>
				<li class="nav-item"><a href=""><h5>義式番茄糙米燉飯</h5></a></li>
				<li class="nav-item"><a href=""><h5>義式番茄糙米燉飯</h5></a></li>
			</ul>
		</div>

		<div class="col p-3 ms-3 border border-2 rounded-4">
			<div class="row">
				<div class="my-4" style="text-align: center; font-size: 30px;">義式番茄糙米燉飯</div>
			</div>
			<div class="row m-3">
				<div class="col border border-2  p-4 rounded-4">
					<h5>準備食材</h5>
					<ul class="">
						<li class=""><span class="">糙米</span><span class="">已經煮熟的</span></li>
						<li class=""><span class="">番茄罐頭或新鮮番茄</span><span class="">牛番茄較適合炒菜用</span></li>
						<li class=""><span class="">南瓜</span></li>
						<li class=""><span class="">舞菇或其他菇類</span></li>
						<li class=""><span class="">洋香菜</span></li>
						<li class=""><span class="">雞胸肉</span><span class="">油脂較低</span></li>
						<li class=""><span class="">橄欖油</span></li>
					</ul>
				</div>
				<div class="col border border-2 ms-4 p-4 rounded-4">
					<h5>作法</h5>
					<ol>
						<li>將蔬菜、雞肉等食材切小塊使狗狗容易入口</li>
						<li>加入少許橄欖油至炒鍋</li>
						<li>待橄欖油熱後把食材加入炒熟</li>
						<li>將糙米飯倒入鍋中，並加水至稍微蓋過食材</li>
						<li>燉煮一段時間即可以裝盤並撒上洋香菜</li>
						<li>待食物稍微放涼在給狗狗吃，以防剛起鍋食物很燙</li>
					</ol>
				</div>
			</div>
			<div class="row m-3">
				<div class="col border border-2 rounded-4 p-4">
					<h5>Notes</h5>
					<span>寵物鮮食食譜僅提供參考，考量到每隻狗狗品種、年紀等等狀況不一樣，不提供份量計算，狗奴才需自行斟酌。</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container text-center mb-2">
	<h4 class="index-header">回應區</h4>

	<form class="input-group" asp-action="" asp-route-Id="">
		<textarea class="form-control" type="text" placeholder="請先登入再留言" name="UserComment"></textarea>
		<input class="btn btn-sm btn-primary" type="submit" value="送出" />
	</form>

	<div class="border border-2 m-4 p-4">
		<p>您尚未登入會員</p>
		<a href="#"><button class="btn btn-dark" type="button">登入會員</button></a>
	</div>
</div>
<div class="container mt-0">
	@*	@foreach (var comment in Model.MsgBoard.comment)
	{
	<div class="border border-2 p-3 position-relative m-4" style="font-size: 20px;">
	<span class="col" style="position: absolute; left: 10px;">@comment.UserID</span>
	<span style="position: absolute; right: 10px;">@comment.MsgDateTime</span>
	<button class="btn btn-dark" type="button">edit</button>
	<button class="btn btn-danger" type="button">delete</button>
	</div>
	@*所有留言*@
	@*		<div class="position-relative border border-2 rounded-4 p-4 m-4" style="height: 200px;">
	<p>@comment.MsgContent</p>*@
	@*	<div class="position-absolute" style="right: 20px; bottom: 10px;">
	<a style="color: gray;" href="http://">已編輯</a>
	</div>*@
	@*		</div>
	}*@
</div>

@section Scripts
{
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				recipes: []
			},
			mounted: function() {
				var _this = this;
				//axios.get('GetAllRecipes').then(res => { console.log(res.data); });
				_this.allRecipes();
			},
			methods: {
				allRecipes: function() {
					var _this = this;
					var request = {};
					axios.get('/api/recipes/AllRecipes', request).then(response => {
						alert('有嗎');
						_this.recipes = response.data;
					});
				}
			}
		});
	</script>
}		