@section Style{
	<link href="~/css/petclass/bootstrap.min.css" rel="stylesheet" />
	<link href="~/css/petclass/fonts.min.css" rel="stylesheet" />
	<link href="~/css/petclass/style.css" rel="stylesheet" />

	<style>
		.container {
			width: 90%;
			margin: 0 auto;
		}

		h6+p {
			margin-top:0px;
		}
		.item{
			margin-top: 10px;
			margin-bottom:10px;
		}

	/*	.img-size{
			padding:30px;
		}*/

		.slick-product {
			width:80%;
		}

		.index-header {
			position: relative;
		}

			.index-header img {
				display: block;
				width: 100%;
				height: auto;
				max-height: 150px;
				object-fit: cover;
				object-position:top;
			}

			.index-header h2 {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 1;
			}

		.empty{
			height:20px;
		}
	</style>
}
<div class="index-header">
	<img src="~/image/product/bg-cta.jpg" />
	<h2>商品詳情</h2>
</div>
<div class="empty"></div>
<div class="container" id="app">
	<div class="row row-30">
		<div class="col-lg-6 img-size">
			<div class="slick-vertical slick-product">
				<!-- Slick Carousel-->
				<div class="slick-slider carousel-parent" id="carousel-parent" data-items="1" data-swipe="true" data-child="#child-carousel" data-for="#child-carousel">
					<div class="item">
						<div class="slick-product-figure">
							<img :src="'data:image/png;base64,'+ selectedImage" alt="" width="530" height="480" @@load="checkAllImagesLoaded" />
						</div>
					</div>

				</div>

				<div class="slick-slider child-carousel slick-nav-1" id="child-carousel" data-arrows="true" data-items="3" data-sm-items="3" data-md-items="3" data-lg-items="3" data-xl-items="3" data-xxl-items="3" data-md-vertical="true" data-for="#carousel-parent">
					<div class="item" v-for="(pic,idx) in ProductDetail.productPicImage" v-on:click="selectImage(pic)">
						<div class="slick-product-figure">
							<img :src="'data:image/png;base64,'+pic" alt="" width="530" height="480" @@load="checkAllImagesLoaded" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="single-product">
				<h3 class="text-transform-none fw-medium">{{ProductDetail.productName}}</h3>
				<div class="group-md group-middle">
					<div class="single-product-price">${{ProductDetail.productPrice}}</div>
					<div class="single-product-rating"><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star"></span><span class="icon mdi mdi-star-half"></span></div>
				</div>

				<div class="item">
					<h6>商品品牌:</h6>
					<p>FurryFeast</p>
				</div>
				<div class="item">
					<h6>商品描述:</h6>
					<p>{{ProductDetail.productDescription}}</p>
				</div>
				<div class="item">
					<h6>付款方式:</h6>
					<p>信用卡 / WEBATM / ATM 轉帳</p>
				</div>
				<p></p>
				<hr class="hr-gray-200">
				<div>
					<h6>商品數量: {{ProductDetail.productAmount}}</h6>
					@*<p>{{ProductDetail.productAmount}}</p>*@
				</div>
				<div class="group-xs group-middle">					
						<div class="product-stepper">
							<input id="ProductAmount" class="form-input" type="number" data-zeros="true" value="1" min="1" max="1000">
							
						</div>
					<button class="button button-lg button-primary button-zakaria" type="submit" v-on:click="AddAmount(ProductDetail.productId)">加入購物車</button>
					
				</div>
				
			</div>
		</div>
	</div>

</div>
@*</section>*@

@section Scripts{


	<script>

		let app = new Vue({
			el: '#app',
			data: {
				ProductDetail: [],
				selectedImage: null,
				imagesLoaded: false,
				loadCount: 0,
			},
			mounted: function () {
				let _this = this;
				_this.Product();
			},
			methods: {
				//網頁載入就會掛載全部商品資料的方法
				Product: function () {
					let _this = this;
					let ID = @ViewBag.productId;

					axios.get(`/api/products/ProductDetail/${ID}`).then(response => {
						_this.ProductDetail = response.data;
						_this.selectedImage = _this.ProductDetail.productPicImage[0];
					});
				},
				AddAmount: function (ID) {
					let Amount = document.getElementById('ProductAmount').value;
					axios.post(`/Cart/CartAdd`, { Id: ID, amount: Amount })
						.then(
							alert('成功加入購物車!')
						);
				},
				selectImage: function (pic) {
					let _this = this;
					_this.selectedImage = pic;
				},
				checkAllImagesLoaded: function () {
					let _this = this;
					_this.loadCount++;
					if (_this.loadCount === _this.ProductDetail.productPicImage.length) {
						_this.imagesLoaded = true;
						_this.$nextTick(function () {
							window.dispatchEvent(new Event('resize'));
						});
					}
				},
			},
			computed: {

			},

		});



	</script>

	<script src="~/js/product/core.min.js"></script>
	<script src="~/js/product/script.js"></script>
}

