@section Style{
    <link href="~/css/petclass/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/petclass/fonts.min.css" rel="stylesheet" />
    <link href="~/css/petclass/style.css" rel="stylesheet" />
}

<section class="section section-xl bg-default text-md-left">
    <div class="container" id="app">
        <div class="row row-50 row-md-60">
            <div class="col-lg-4 col-xl-3">
                <div class="aside row row-30 row-md-50 justify-content-md-between">
                    <!-- RD Search Form-->
                    <div class="aside-item col-sm-6 col-md-5 col-lg-12">
                       @* 待補畫面*@


                    </div>
                    <div class="aside-item col-sm-6 col-lg-12">
                        <h6 class="aside-title">熱門課程</h6>
                        <div class="row row-10 row-lg-20 gutters-10">
                            <div class="col-4 col-sm-6 col-md-12">
                                <!-- Product Minimal-->
                                <article class="product-minimal">
                                    <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                                        <div class="unit-left"><a class="product-minimal-figure" href="single-product.html"><img src="images/product-mini-2-106x104.jpg" alt="" width="106" height="104" /></a></div>
                                        <div class="unit-body">
                                            <p class="product-minimal-title"><a href="single-product.html">寵物鮮食DIY課程</a></p>
                                            <p class="product-minimal-price">$2500</p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-4 col-sm-6 col-md-12">
                                <!-- Product Minimal-->
                                <article class="product-minimal">
                                    <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                                        <div class="unit-left"><a class="product-minimal-figure" href="single-product.html"><img src="images/product-mini-2-106x104.jpg" alt="" width="106" height="104" /></a></div>
                                        <div class="unit-body">
                                            <p class="product-minimal-title"><a href="single-product.html">寵物餅乾DIY課程 </a></p>
                                            <p class="product-minimal-price">$3000</p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-4 col-sm-6 col-md-12">
                                <!-- Product Minimal-->
                                <article class="product-minimal">
                                    <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                                        <div class="unit-left"><a class="product-minimal-figure" href="single-product.html"><img src="images/product-mini-3-106x104.jpg" alt="" width="106" height="104" /></a></div>
                                        <div class="unit-body">
                                            <p class="product-minimal-title"><a href="single-product.html">寵物肉乾DIY課程</a></p>
                                            <p class="product-minimal-price">$2000</p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xl-9">
                <div class="inset-xl-right-100">
                    <div class="row row-50 row-md-60 row-lg-80">
                        <div class="col-12">
                            <article class="post post-modern box-xxl">
                                <div class="post-modern-panel">
                                    <div><a class="post-modern-tag" href="#">{{Show.petClassTypeName}}</a></div>
                                    <div>
                                        <h6>{{Show.petClassName}}</h6>
                                    </div>
                                </div>

                                <div class="post-modern-figure">
                                    <img :src="'data:image/png;base64,'+ Show.petClassPics" alt="" width="800" height="394" />
                                    
                                </div>
                                @*<h3 class="post-modern-title">寵物香噴噴餅乾DIY</h3>*@
                                <article class="quote-classic quote-classic-2">
                                    <div class="quote-classic-text">
                                        <div class="q">為毛孩家長打造的專屬課程，給毛小孩最好的!</div>
                                    </div>
                                </article>
                                <div>
                                    <p class="post-modern-text">{{Show.petClassInformation}}</p>
                                </div>

                                <div>
                                    <h6 class="aside-title">課程資訊</h6>
                                    <h6>課程日期時間: {{Show.petClassDate}}</h6>
                                    <h6>授課教師: {{Show.teacherName}}</h6>
                                </div>


                                <a class="button button-sm button-primary button-zakaria" asp-controller="PetClasses" asp-action="PetClassReservation">課程預定</a>

                            </article>
                            <!-- Quote Classic-->


                            <div class="single-post-bottom-panel">
                                <div class="group-sm group-justify">
                                    <div>
                                        <div class="group-sm group-tags"><a class="link-tag" href="#">News</a><a class="link-tag" href="#">Cats</a><a class="link-tag" href="#">Tips</a></div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    @*<script src="https://code.jquery.com/jquery-latest.min.js"></script>*@
    <script>

        let app = new Vue({
            el: '#app',
            data: {
                Show: [],
                PetClass: [],

            },
            mounted: function () {
                let _this = this;
                _this.TheClass();

            },
            methods: {
                //網頁載入就會掛載全部商品資料的方法
                TheClass: function () {
                    let _this = this;
                    let ID = @ViewBag.Id;
                    axios.get(`/api/petclasses/GetPetClass/${ID}`).then(response => {
                        _this.Show = _this.PetClass = response.data;

                    });
                },

            },
            computed: {
                AllClassAmount: function () {
                    let _this = this;
                    return _this.PetClass.length;
                },
                PrettyClassAmount: function () {
                    let _this = this;
                    return _this.PetClass.filter((a) => a.petClassType.petClassTypeId == 1).length;
                },
                TrainClassAmount: function () {
                    let _this = this;
                    return _this.PetClass.filter((a) => a.petClassType.petClassTypeId == 2).length;
                },
                DIYClassAmount: function () {
                    let _this = this;
                    return _this.PetClass.filter((a) => a.petClassType.petClassTypeId == 3).length;
                },
            },

        });

    </script>
    <script src="~/js/product/core.min.js"></script>
    <script src="~/js/product/script.js"></script>

}
