@section Style{
    <link href="~/css/petclass/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/css/petclass/fonts.min.css" rel="stylesheet" />*@
    <link href="~/css/petclass/style.css" rel="stylesheet" />
}

<h3>課程預定單</h3>

<section class="section section-xl bg-default">
    <div class="container">
        <!-- shopping-cart-->
        <div class="table-custom-responsive">
            <table class="table-custom table-cart">
                <thead>
                    <tr>
                        <th>課程名稱</th>
                        <th>課程價格</th>
                        <th>課程時間</th>
                        <th>課程地點</th>
                        
                    </tr>                   
                </thead>
                <tbody>
                    <tr>
                        <td><a class="table-cart-figure link-img" href="single-product.html"><img src="images/product-big-1-328x330.jpg" alt="" width="328" height="330" /></a><a class="table-cart-link" href="single-product.html">寵物餅乾DIY課程</a></td>
                        <td>$2300</td>
                        <td>2023/07/23</td>
                        <td>台北市南京東路XXXXXX</td>
                        
                    </tr>
                   
                </tbody>
                <thead>
                    <tr>
                        <th>會員姓名</th>
                        <th>會員電話</th>
                        <th>會員信箱</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>>王小明</td>
                        <td>0987654321</td>
                        <td>xxxx@gmail.com</td>                      
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="group-xl group-justify justify-content-center justify-content-md-between">
            <div>
                
            </div>
            <div>
                <div class="group-xl group-middle">
                    <div>
                        <div class="group-md group-middle">
                            <div class="heading-5 fw-medium text-gray-500">Total</div>
                            <div class="heading-3 fw-normal">$2000</div>
                        </div>
                    </div><a class="button button-lg button-primary button-zakaria" href="checkout.html">確定購課</a>
                </div>
            </div>
        </div>
    </div>
</section>