@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 mb-lg-0 mb-4">
	<div class="card mt-4">
		<div class="card-header pb-0 p-3">
			<div class="row">
				<div class="col-6 d-flex align-items-center">
					<h6 class="mb-0">商品編號：{{}}</h6>
				</div>
				
			</div>
		</div>
		<div class="card-body p-3">
			<div class="card card-body border card-plain border-radius-lg d-flex align-items-self-start">
				<div class="row">
					<div class="col-md-8 mb-md-0 mb-4">
						<h6 class="mb-0">商品名稱：{{}}</h6>
						<input />
					</div>
				</div>
			
			<div class="row">
				<div class="col-md-8 mb-md-0 mb-4">
					<h6 class="mb-0">商品種類：{{}}</h6>
					<input />
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 mb-md-0 mb-4">
					<h6 class="mb-0">上架數量：{{}}</h6>
					<input />
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 mb-md-0 mb-4">
					<h6 class="mb-0">商品單價：{{}}</h6>
					<input />
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 mb-md-0 mb-4">
					<h6 class="mb-0">商品描述：{{}}</h6>
					<input />
				</div>
			</div>
			</div>
			@*<img class="w-10 me-3 mb-0" src="../assets/img/logos/mastercard.png" alt="logo">*@
			@*<h6 class="mb-0">****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;7852</h6>*@
			<i class="material-icons ms-auto text-dark cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Card">edit</i>
			<div class="col-6 text-end">
				<a class="btn bg-gradient-dark mb-0" href="javascript:;"><i class="material-icons text-sm">add</i>&nbsp;&nbsp;Add New Card</a>
			</div>
		</div>

		@*<div class="col-md-6">
		<div class="card card-body border card-plain border-radius-lg d-flex align-items-center flex-row">
		<img class="w-10 me-3 mb-0" src="../assets/img/logos/visa.png" alt="logo">
		<h6 class="mb-0">****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;5248</h6>
		<i class="material-icons ms-auto text-dark cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Card">edit</i>
		</div>
		</div>*@

	</div>
</div>
</div>
