@model FurryFeast.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderCreateDate" class="control-label"></label>
                <input asp-for="OrderCreateDate" class="form-control" />
                <span asp-validation-for="OrderCreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderShipDate" class="control-label"></label>
                <input asp-for="OrderShipDate" class="form-control" />
                <span asp-validation-for="OrderShipDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderRecipientName" class="control-label"></label>
                <input asp-for="OrderRecipientName" class="form-control" />
                <span asp-validation-for="OrderRecipientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderRecipientAdress" class="control-label"></label>
                <input asp-for="OrderRecipientAdress" class="form-control" />
                <span asp-validation-for="OrderRecipientAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderRecipientPhone" class="control-label"></label>
                <input asp-for="OrderRecipientPhone" class="form-control" />
                <span asp-validation-for="OrderRecipientPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderTotalPrice" class="control-label"></label>
                <input asp-for="OrderTotalPrice" class="form-control" />
                <span asp-validation-for="OrderTotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderStatus" class="control-label"></label>
                <input asp-for="OrderStatus" class="form-control" />
                <span asp-validation-for="OrderStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <select asp-for="MemberId" class ="form-control" asp-items="ViewBag.MemberId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
