@model FurryFeast.Models.StockImage

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StockImage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ImagesId" />
            <div class="form-group">
                <label asp-for="ImagesCode" class="control-label"></label>
                <input asp-for="ImagesCode" class="form-control" />
                <span asp-validation-for="ImagesCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagesDescription" class="control-label"></label>
                <input asp-for="ImagesDescription" class="form-control" />
                <span asp-validation-for="ImagesDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagesFileCrc" class="control-label"></label>
                <input asp-for="ImagesFileCrc" class="form-control" />
                <span asp-validation-for="ImagesFileCrc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagesBitmapFile" class="control-label"></label>
                <input asp-for="ImagesBitmapFile" class="form-control" type="file" accept="image/*" />
                <span asp-validation-for="ImagesBitmapFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
