.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: outset 0 .5em 1.5em rgba(0, 0, 0, .1), outset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.container {
    width: auto;
    max-width: 100%;
    padding: 0 15px;
}
