#recipesList > li {
    border-top: 1px dashed #ccc;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0 20px 0;
    width: 100%;
}

#recipesList > li:hover { background: #f2f2f2; }

#recipeHeader h4 { position: relative; }

.line {
    background-color: #ccc;
    height: 1px;
    margin: 20px auto;
    width: 90%;
}

.user-icon {
    background: darkgoldenrod;
    border: 1px solid darkgoldenrod;
    border-radius: 1rem;
    color: white;
    font-size: small;
    width: fit-content;
}

.edited-text {
    font-weight: bold;
    text-align: start;
    font-size: 15px;
}

.edited-time {
    text-align: start;
    font-size: small;
    padding-left: 10px;
}


.edit-Record {
    text-align: start;
    position: relative;
    padding-left: 8rem;
}

.edit-Record:before {
        border-bottom: 1px dashed #ccc;
        bottom: 0;
        content: "";
        left: 8rem;
        margin-bottom: -12px;
        position: absolute;
        width: 40%;
}

.edit-Record:last-child:before {
        content: "";
        border: none;
}

.nBtn {
    border: none;
    background: none;
    padding: 0px 10px;
    font-size: 14px;
}

.edit {
    border: yellowgreen;
    background: yellowgreen;
    border-radius: 6px;
    color: white;
}

.delete {
    border: red;
    background: red;
    border-radius: 6px;
    color: white;
}

.response::-webkit-scrollbar,
.response::-webkit-scrollbar-thumb {
    width: 26px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
    color: #ccc;
    
}

.response::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}

.response {
    overflow-y: auto;
    height: 500px;
}

.recipes-card {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}