@model FurryFeast.Models.StockSuppliersGroup

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StockSuppliersGroup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuppliersGroupsCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuppliersGroupsCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuppliersGroupsDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuppliersGroupsDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SuppliersGroupsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
