@{
    ViewData["Title"] = "Home Page";
}

@*//test*@
@section IndexHead{
    <header class="container-fluid">
        <div>
            <p class="keyVisual_title -blue font_AmaticSC">FurryFeast</p>
            <p class="keyVisual_title -yellow font_AmaticSC">all about dogs and cats</p>
        </div>
        <div class="col-md-4 col-12 px-0">
            <a href="#">
                <img src="./image/rm366-kul-poster-06-s68-s69-ps-1.png" alt="Image 1" class="header-image header-link">
            </a>
        </div>
        <div class="col-md-4 col-12 px-0">
            <a href="#">
                <img src="./image/rm366-kul-poster-06-s68-s69-ps-cat.png" alt="Image 2" class="header-image header-link">
            </a>
        </div>
        <div class="col-md-4 col-12 px-0">
            <a href="#">
                <img src="./image/rm366-kul-poster-06-s68-s69-ps.png" alt="Image 3" class="header-image header-link">
            </a>
        </div>
    </header>
}
<section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>尋找浪浪</h2>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                <div class="swiper-slide ">
                    <div class="testimonial-wrap ">
                        <div class="col ">
                            <div class="card-new">
                                <div class="square-img-container">
                                    <img class=" square-img" src="image/cat/1682728095475.png" alt="">
                                </div>
                                <div class="card-body-new">
                                    <p class="">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>

                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->
                <div class="swiper-slide ">
                    <div class="testimonial-wrap ">
                        <div class="col ">
                            <div class="card-new">
                                <div class="square-img-container">
                                    <img class=" square-img" src="image/cat/1682728095475.png" alt="">
                                </div>
                                <div class="card-body-new">
                                    <p class="">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>

                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->
                <div class="swiper-slide ">
                    <div class="testimonial-wrap ">
                        <div class="col ">
                            <div class="card-new">
                                <div class="square-img-container">
                                    <img class=" square-img" src="image/cat/1682728095475.png" alt="">
                                </div>
                                <div class="card-body-new">
                                    <p class="">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>

                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->
                <div class="swiper-slide ">
                    <div class="testimonial-wrap ">
                        <div class="col ">
                            <div class="card-new">
                                <div class="square-img-container">
                                    <img class=" square-img" src="image/cat/1682728095475.png" alt="">
                                </div>
                                <div class="card-body-new">
                                    <p class="">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>

                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->
                <div class="swiper-slide ">
                    <div class="testimonial-wrap ">
                        <div class="col ">
                            <div class="card-new">
                                <div class="square-img-container">
                                    <img class=" square-img" src="image/cat/1682728095475.png" alt="">
                                </div>
                                <div class="card-body-new">
                                    <p class="">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>

                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->
                <div class="swiper-slide ">
                    <div class="testimonial-wrap ">
                        <div class="col ">
                            <div class="card-new">
                                <div class="square-img-container">
                                    <img class=" square-img" src="image/cat/1682728095475.png" alt="">
                                </div>
                                <div class="card-body-new">
                                    <p class="">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>

                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->
                <div class="swiper-slide ">
                    <div class="testimonial-wrap ">
                        <div class="col ">
                            <div class="card-new">
                                <div class="square-img-container">
                                    <img class=" square-img" src="image/cat/1682728095475.png" alt="">
                                </div>
                                <div class="card-body-new">
                                    <p class="">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>

                            </div>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

            </div>

        </div>

    </div>
</section>
