
<div style="width:80%">
    <h1>支付回傳訊息</h1>
    <h3>接收參數:</h3>
    @Html.Raw(ViewData["ReceiveObj"])
    <h3>交易訊息:</h3>
    @Html.Raw(ViewData["TradeInfo"])

    @if(@ViewBag.Status=="SUCCESS"){
        <h4>付款成功</h4>
    }
    else
    {
        <h4>付款失敗</h4>
    }
</div>